/*
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
*/

body {
  font-family: 'Helvetica Neue', sans-serif;
  background: linear-gradient(to bottom, #005A9C, #003366);
  /* color: white; */
  margin: 0;
  padding: 0;
}

header {
    color: white;
    text-align: center;
    padding: 0 0;
}

header p {
    margin: 0; /* pタグのマージンをリセット */
    padding: 0 0; /* pタグの上下パディングを0.5emに設定 */
}

header .images {
    margin: 0; /* sectionのマージンをリセット */
    padding: 0; /* sectionのパディングをリセット */
}


.app-icon {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    padding: 0.3em 0;
}

.applinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.applinks a {
    width: 40%; /* 各リンクの幅を画面の横幅の30%に設定します */
    margin: 0 10px;
    display: flex;
    justify-content: center; /* 画像を中央揃えにします */
}

.applinks img {
    width: 100%; /* 画像の幅をリンク要素の幅に合わせます */
    height: auto;
}

.info {
    display: none;
}

main {
    padding: 1em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

ul {
    padding-left: 1.5em;
}

.features, .pricing, .images {
    margin-bottom: 1em;
}

.feature {
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.images img {
    width: 100%;
    /* margin-bottom: 0.5em; */
    border-radius: 8px;
}

footer {
    background-color: #e1e1e1;
    color: #333;
    padding: 1em;
    text-align: left;
    font-size: 0.8em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.7em;
    text-align: left;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 12px 15px;
    white-space: nowrap; /* 1行で表示するための設定 */
}
th {
    background-color: #255997;
    border-bottom: 2px solid #e0e0e0;
    color: white;
}
tr {
    border-bottom: 1px solid #e0e0e0;
}
tr:nth-of-type(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}

/* 2列目の設定 */
th:nth-child(2), td:nth-child(2) {
    white-space: normal; /* nowrapを解除 */
    width: 1200px; /* 幅を指定 */
}

/* スマホ向けの2列目設定 画面幅が600px以下の場合に適用*/
@media screen and (max-width: 600px) {
    th:nth-child(2), td:nth-child(2) {
        width: 600px; /* スマホの場合の幅を指定 */
    }
}
